@import 'style' ;

.container {
    background: rgba(216, 203, 203, 0.692) ;
    display: flex;
    justify-content: center; 
    height: calc(100vh - 68px);
    filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.5));
    

    
    .wrapper-1 {
        height: fit-content;
        

        .bg-img {
            height: calc(100vh - 68px);
        }
    }

}

.container-1 {
    background: rgba(216, 203, 203, 0.692);
    

}

.gallery-images1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    background: rgba(40, 40, 40, 0.692);

    
}

.gallery-images2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    background: rgba(18, 28, 115, 0.692);
    
}

.gallery-images3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    background:rgba(18, 68, 115, 0.692)

    
}

.gallery-images4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    background: rgb(1, 0, 5);
    
}



img {
    border-radius: 20px;
    border: rgba(7, 30, 61, 0.86);
    height: 1000px;
    width: 700px;

}




