* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

body a {
  text-decoration: none;
  list-style: none;
  color: #071E3D;
}

/* navigation-bar */
.nav-container {
  background: #FFFFFA;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 68px;
  z-index: 500;
  position: relative;
}

.wrapper {
  max-width: 1352px;
  margin: 0 auto;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
}

.wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #071E3D;
}

.wrapper .logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 48px;
  color: #071E3D;
}

.wrapper .nav-items {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .nav-items li a {
  letter-spacing: 0.2em;
}

/* search-box */
.search-box {
  width: 1352px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  top: 0;
  left: -220px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.search-box input {
  position: absolute;
  width: 296px;
  height: 48px;
  background: #FFFFFA;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 15px 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0;
}

/* search and close buttons */
.nav-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  .active {
        .search-btn {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-8px);
        }

        .close-btn {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }    */
}

.nav-btn-container img {
  position: absolute;
}

.nav-btn-container .close-btn {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav-btn-container .search-btn {
  pointer-events: auto;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav-btn-container.active .close-btn {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-btn-container.active .search-btn {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

/* main section */
.header-container {
  background: rgba(216, 203, 203, 0.692) url("../images/BG shape.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: calc(100vh - 68px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .wrapper {
  width: 1352px;
  margin: 0 auto;
}

.header-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #071E3D;
}

.header-container header .hero-content {
  margin-bottom: 10em;
}

.header-container header .hero-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 1em;
}

.header-container header .hero-content p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 2.5em;
  width: 430px;
}

.header-container header .hero-content a {
  padding: 15px 30px;
  background-color: #574b90;
  border-radius: 15px;
  color: white;
  letter-spacing: 0.25em;
  -webkit-filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.5));
}

.header-container header .hero-content a:hover {
  background-color: #9e579d;
}

.header-container header .hero-image {
  position: relative;
}

.header-container header .hero-image .photo-bg {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 4px;
  top: 1px;
  background: rgba(252, 133, 174, 0.74);
  border-radius: 15px;
  -webkit-transform: rotate(-7.26deg);
          transform: rotate(-7.26deg);
}

.header-container header .hero-image img {
  -webkit-transition: 300ms;
  transition: 300ms;
  position: relative;
  z-index: 100;
}

.header-container header .hero-image img:hover {
  -webkit-transform: rotate(-7.26deg);
          transform: rotate(-7.26deg);
}
/*# sourceMappingURL=style.css.map */